.header{
    grid-area: header;
    background-color: coral;
    display: flex;
    justify-content: space-between;
  }
  
  .header img{
    width: 80px;
    height: 40px;
  }

  
  .login{
    float: right;
    color: white;
  }