body{
  /* margin: 5px; */
  background: bisque;
}

.App{
  display: grid;
  grid-template-areas: 'header header'
                       'nav content';

  grid-template-rows: 1fr 7.38fr;
  grid-template-columns: 210px 5fr;
  /* grid-gap: 10px; */
}

.AppContents{
  grid-area: content;
  background-color: moccasin;
}

