body{
  /* margin: 5px; */
  background: white;
  width: 800px;
  margin: 0 auto;
}

.App{
  display: grid;
  grid-template-areas: 'header header'
                       'nav content';

  grid-template-rows: 70px 599px;
  grid-template-columns: 210px 5fr;
  /* grid-gap: 10px; */
}

.AppContents{
  grid-area: content;
  background-color: moccasin;
  overflow-x: hidden;
}

